@import '../../utils/vars';
@import '../../utils/templates';

.td-task-wrap{
    margin: 5px;
    padding: 5px;
    &:hover .td-task-visible-icon  {
        display: block;
    }
}


.td-task-finished{
    text-decoration: line-through;
}
.td-task-arrow{
    @extend %task-icon;
    float: left;
}
.td-task-arrow-non-active{
    color: #bac2cb;
    float: left;
    margin: 0 3px 0 0;
}
.td-task-arrows{
    position: absolute;
    margin-top: -3px;
    margin-left: -15px;
    width: 100%;
    max-width: 20px;
}
.td-task-remove{
    @extend %task-icon;
    float: right;
}

.td-task-visible-icon{
    display: none;
}

.td-task-change-state {
    margin: 0 10px 0 15px;
    input {
        display: none;
    }
    span {
        height: 12px;
        width: 12px;
        border: 1px solid $list-header-color;
        border-radius: 2px;
        display: inline-block;
        position: relative;
    }
    [type=checkbox]:checked + span:before {
        content: '\2716';
        position: absolute;
        top: -6px;
        left: -2px;
        color: $color-dark-gray;
    }
}
.td-todo-list-empty{
    padding: 10px;
    text-align: center;
    color: $color-red;
}