.td-task-wrap{
    width: 95%;
    margin: 10px 0 5px 0;
}

.td-task-wrap i {
    border-right: 2px solid;
    border-bottom: 2px solid;
    display: inline-block;
    padding: 2px;
    height: 4px;
    width: 4px;
    margin-right:10px;
    float: right;
}

.td-task-wrap .td-task-up, .td-task-up-disable {
    margin-top:5px;
    transform: rotate(-135deg);
}
.td-task-up-disable, .td-task-down-disable{
    color: #911d1c;
}

.td-task-wrap .td-task-down, .td-task-down-disable {
    transform: rotate(45deg);
}
.td-task-remove{
    margin-top: -2px;
    padding: 3px 7px;
    border-radius: 100%;
    background-color: #ca1200;
    color: #ffffff;
    border: none;
    float: right;
}
.td-task-remove:hover {
    cursor: pointer;
    background-color: #900d00;
}
.down-disable:hover, .td-task-up-disable:hover{
    cursor: auto;
}
.td-task-down:hover, .td-task-up:hover{
    cursor: pointer;
}
.td-task-wrap:hover{
    background-color: #d8d8d8
}
.td-task-finished{
    text-decoration: line-through;
}