.td-logout-btn-wrap{
    color: #ffffff;
    width: 15%;
    text-align: center;
    padding: 5px;
    background-color: #8c6800;
    float: right;
}
.td-logout-btn-wrap:hover{
    cursor: pointer;
    background-color: #5b4400;
}