.td-registration-page-btn-wrap{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin:10px 0 ;
    border: 1px solid #222222;
    background-color: #2c768e;
    color: #d9d6af;
    font-family: "Source Code Pro", Monaco, monospace;
    font-weight: 600;
    font-size: 14px;
}