.td-login-page-wrap{
    width:55%;
    margin: 0 auto;
    padding: 5px;
}
.td-login-page-wrap h2{
    margin: 10px 0;
    font-size: 24px;
}
.td-login-page-input{
    margin: 5px 0;
    padding: 5px 0;
}
.td-login-page-input input{
    border: solid 1px #9ca4ab;
    color: #9ca4ab ;
    padding: 2.5%;
    font-size: 22px;
    border-radius: 3px;
    width: 95%;
}
.td-login-page-wrap p label{
    width: 50px;
}
.td-login-page-wrap p input{
    width: 97%;
    font-family: "Source Code Pro", Monaco, monospace;
    font-size: 16px;
    margin: 5px 0;
    padding: 1.5%;
    border: 1px solid #222222;
    border-bottom: 4px solid #222222;
}
.td-login-page-registration-link{
    font-size: 16px;
}
.td-login-page-registration-link a{
    text-decoration: none;
}
.td-login-page-registration-link a:visited{
    color: #78b8f6;
}
.td-login-page-link{
    padding: 5px 10px;
}