.td-login-page-btn-wrap{
    width: 35%;
    padding: 15px 10px;
    border-radius: 5px;
    margin:10px 0 ;
    background-color: #5aaaef;
    color: #ffffff;
    border: none;
    font-size: 22px;
}
.td-login-page-btn-wrap:hover{
    background-color: #275e00;
    cursor: pointer;
}