@import './vars';
%ok-btn {
  width: 25%;
  padding: 8px 5px;
  border-radius: 5px;
  margin: $margin-middle 0;
  background-color: $color-blue;
  color: $color-white;
  border: none;
  display: none;
  font-size: $font-size-button;
  &:hover {
    cursor: pointer;
  }
}

%confirm-btn {
  @extend %ok-btn;
  background-color: $color-blue;
  color: $color-white;
}
%cancel-btn {
  @extend %ok-btn;
  background-color: $color-white;
  color: $color-black;
}

%input-text {
  margin: $margin-small 0;
  padding: 5px 0;
  input {
    border: solid 1px $color-light-gray;
    color: $color-black;
    padding: 1.5%;
    font-size: 16px;
    width: 96.6%;
  }
  input::placeholder {
    color: $color-light-gray;
    padding-left: 20px;
  }
}
%list-item {
  margin: $margin-middle 0;
  padding: 1% 1.4%;
  border: solid 1px $color-light-gray2;
  color: $color-black;
  font-size: 20px;
  border-radius: 3px 3px 0 0;
  width: 96.8%;
  &:hover > .td-todo-list-head-actions{
    display: inline-block;
  }
}
%list-arrow{
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
}
%task-icon{
  color: $list-header-color;
  margin: 0 5px 1px 0;
  &:hover{
    cursor: pointer;
  }
}