//colors
$color-white:#ffffff;
$color-light-blue: #78b8f6;
$color-blue:#5aaaef;
$color-light-gray: #bac4cc;
$color-light-gray2: #bac2cb;
$color-dark-gray: #4b4f52;
$color-black: #000000;
$color-red: #d5312d;
$color-green: #7ac193;
$header-bg-color: #e1e8f3;
$list-header-color: #80858e;

//margins
$margin-small:5px;
$margin-middle:10px;
$margin-large :15px;

//font-size
$font-size-small:14px;
$font-size-middle:20px;
$font-size-h1:30px;
$font-size-h2:18px;
$font-size-h2-list:16px;
$font-size-button:16px;
