@import '../../utils/vars';
@import '../../utils/templates';
.td-todo-lists-wrap{
    width:70%;
    margin: $margin-middle auto;

    h1 {
        margin: $margin-large 0;
        font-size: $font-size-h2;
    }
}
