.td-todo-lists-wrap{
    width:80%;
    max-width: 700px;
    margin: 5% auto;
    border-radius: 5px;
    border: solid 1px #8e8e8e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Source Code Pro", Monaco, monospace;
}
.td-todo-lists-wrap h1{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}