@import '../../utils/vars';
@import '../../utils/templates';

.td-modal-wrap {
  position: fixed;
  display: block;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.td-modal-disable{
  display: none !important;
}

.td-modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 20%;
  left: 25%;
  padding: 5px 20px;
  width: 50%;

}

.td-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -40px;
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
.td-modal-ok{
  @extend %confirm-btn;
  width: 45%;
  margin-right: 2%;
  display: inline-block;
}
.td-modal-cancel{
  width: 45%;
  @extend %cancel-btn;
  display: inline-block;
}
.td-modal-btn{
  width: 30%;
  float: right;
}