@import '../../utils/vars';
@import '../../utils/templates';

.td-new-task-wrap{
    padding:0;
    margin: 0;
    @extend %input-text;

    input{
        border-top: none;
        margin: 0;
    }
}
.td-new-task-btn{
    display: none;
    @extend %list-item;
    padding:0 1.4%;
    margin: 0;
    border-top: none;
}
.td-new-task-add-btn{
    @extend %confirm-btn;
    display: inline-block;
    background-color: $color-green;
}
.td-new-task-cancel-btn{
    @extend %cancel-btn;
    display: inline-block;
}
.td-new-task-visible-btn{
    display: inline-block !important;
}


//.td-new-task-wrap h3{
//    color: #4f100f;
//    padding: 0;
//    margin: 0;
//}
//.td-new-task-add-text{
//    width: 87%;
//    font-family: "Source Code Pro", Monaco, monospace;
//    font-size: 16px;
//    margin: 5px 0;
//
//    padding: 5px 1.5%;
//}
//.td-new-task-add-btn{
//    width: 9%;
//    margin:10px 0 ;
//    background-color: #3b8e00;
//    color: #ffffff;
//    border: 1px solid #5d5d5d;
//    font-family: "Source Code Pro", Monaco, monospace;
//    font-size: 16px;
//    padding: 5px 0;
//}
//.td-new-task-add-btn:hover{
//    background-color: #215000;
//    cursor: pointer;
//}
